*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# 以上为默认生成的

# 以下为vue默认的
.DS_Store
node_modules/
dist/
npm-debug.log

#以下为排除git和idea的设置
.gitignore
.idea/
*.iml

#以下为排除java的设置
target