*, :after, :before {
    box-sizing: border-box;
    outline: none
}

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color, .3s;
    transition: color, .3s
}

a:active, a:hover {
    color: #007fff
}

img.inline {
    height: 1.3em;
    vertical-align: top
}

img.inline + span, span + img.inline {
    margin-left: .5em
}

@media (max-width: 600px) {
    .inner {
        width: 80vw;
        min-width: initial
    }
}

.text-pointer {
    cursor: pointer
}

.background-cover {
    background-position: 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover
}

body {
    font-family: -apple-system, Microsoft YaHei, Helvetica Neue, sans-serif
}

button {
    border: none
}

section {
    padding: 8em 2em;
    text-align: center;
    background-color: #fff
}

section h1 {
    color: green
}

section .title {
    font-size: 2em;
    margin-bottom: 1em
}

section .sub-title {
    margin: 0 0 4em
}

header {
    position: fixed;
    width: 100%;
    height: 4em;
    padding: 0 5em;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99
}

header .header-logo {
    height: 1.5em;
    margin: 1.25em 0
}

header .header-nav {
    height: 100%;
    padding: 1.5em 0;
    float: right
}

header .nav-item {
    color: hsla(0, 0%, 100%, .6);
    margin: 0 1em;
    cursor: pointer
}

.container {
    display: inline-block;
    width: 800px
}

.meetup-btn {
    background-color: #ddd;
    padding: .8em 1.6em;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 0 0 0 .5em
}

.btn-green {
    background-color: #3ab765
}

.btn-blue {
    background-color: #007fff
}

.card-info-icon {
    height: 1em;
    margin: 0 .2em 0 0;
    vertical-align: text-bottom
}

footer {
    background-color: #1e1e1e;
    height: 3em;
    text-align: center;
    color: #fff;
    line-height: 3em;
    font-size: .8em
}

footer a {
    color: #fff;
    -webkit-transition: color, .3s;
    transition: color, .3s
}

footer a:hover {
    color: #ddd
}

@media (max-width: 960px) {
    header {
        padding: 0 1em
    }

    header .header-logo {
        width: 6em
    }

    header .nav-item {
        margin: 0 .25em;
        font-size: .8em
    }

    section > .container {
        width: 100%;
        vertical-align: bottom
    }
}

.hero {
    height: 100vh
}

.hero .meetup-info-mobile {
    display: none
}

.hero .container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

.hero:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .12)
}

.hero .title {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 0
}

.hero .holder {
    text-align: center
}

.hero .holder .holder-item {
    display: inline-block;
    width: 33.33%;
    color: #fff
}

.hero .holder .radius {
    display: inline-block;
    height: 6em;
    width: 6em;
    border: 1px solid #fff;
    border-radius: 100%
}

.hero .holder .item-title {
    margin-top: 1em
}

.hero .last-meetup {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6em
}

.hero .meetup-info {
    position: relative;
    display: inline-block;
    padding: .8em 2.6em .8em 9em;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .2);
    border: 1px solid #45BCF9;
    color: #fff
}

.hero .meetup-info a,.info-title a{
    color: #fff
}

.hero .info-title {
    position: absolute;
    padding: .8em 1.6em;
    left: 0;
    top: 0;
    background: hsla(0, 0%, 100%, .2)
}

.hero .meetup-btn {
    background-color: #ddd;
    padding: .8em 1.6em;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 0 0 0 .5em
}

.hero .btn-green {
    background-color: #3ab765
}

.hero .btn-blue {
    background-color: #45BCF9
}

footer {
    font-size: .8em
}

@media (max-width: 960px) {
    .hero .title {
        font-size: 1.5em
    }

    .hero .container {
        padding: 2em 0 0
    }

    .hero .hero-logo {
        width: 10em
    }

    .hero .meetup-info {
        display: none
    }

    .hero .holder {
        padding: 0 2em
    }

    .hero .holder .holder-item .radius {
        height: 4em;
        width: 4em
    }

    .hero .hero-detail {
        font-size: .8em
    }

    .hero .meetup-info-mobile {
        display: inline-block;
        position: relative;
        width: 100%;
        color: #fff;
        padding: 0 2em;
        text-align: left;
        margin: 3em 0 1em
    }

    .hero .meetup-info-mobile .info-title {
        position: relative;
        background: none;
        font-size: 1em;
        padding: 0;
        margin: 0 0 .5em
    }

    .hero .meetup-info-mobile .info, .hero .meetup-info-mobile .time {
        font-size: .8em
    }

    .hero .meetup-info-mobile .time {
        margin: 0 1em 0 0
    }

    .hero .meetup-info-mobile .card-info-icon {
        height: 1em;
        margin: 0 .2em 0 0
    }

    .hero .last-meetup {
        position: relative;
        bottom: 0;
        padding: 0 2em
    }

    .hero .meetup-btn {
        padding: .6em 0;
        width: 100%;
        margin: .5em 0
    }
}
