

.index-content{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 100px;
    margin: -120px 0 0 -130px;
    padding-left: 40px;
    padding-right: 40px;
}

.hello {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.link {
    height: 60px;
}

.link a {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bolder;
}

.link a:hover {
    cursor: pointer;
    text-decoration: none;
}