/*动画特效*/
#s-top-navbar {
    transition: all 0.3s ease;
}

#s-top-navbar a {
    transition: all 0.1s linear;
}

#s-section1-container > div {
    animation: bounceIn 5s infinite;
    -webkit-animation: bounceIn 5s infinite;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

/*顶部文字颜色*/
#s-top-navbar a {
    font-weight: bolder;
    color: #FFFFFF;
    font-family: Montserrat, 'Microsoft Yahei', sans-serif;
}

#s-top-navbar a:hover {
    font-size: 18px;
    background: none;
    cursor: pointer;
}

#s-top-navbar a:focus {
    font-size: 14px;
    background: none;
}

/*默认顶部高度*/
.s-nav-default-height {
    padding: 20px 0;
}

/*顶部缩小时候背景色和底部背景色*/
.s-nav-background-color {
    background-color: #25708B;
}

/*底部的高度和文字颜色*/
.s-bottom-container {
    height: 50px;
    line-height: 50px;
    color: #222;
}

/*中间各块内容*/
#s-section {
    min-height: 400px;
    max-height: 1000px;
}

/*中间第一块内容*/
#s-section1 {
    background: url('../img/road.jpg');
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*第一块中间的内容*/
#s-section1-container {
    position: relative;
    top: 190px;
}

/*第一块中所有内容居中*/
#s-section1-container > div {
    text-align: center;
    color: #FFFFFF;
    text-shadow: #999999 1px 1px 0;
    font-family: Montserrat, 'Microsoft Yahei', sans-serif;
}

/*第一块中第一行*/
#s-section1-container > div:first-child {
    height: 150px;
    line-height: 150px;
    font-size: 60px;
}

/*第一块中第二行*/
#s-section1-container > div:nth-child(2) {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

/*其他块和头部的距离*/
.s-section-less > div {
    position: relative;
    top: 51px;
}