<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/common.css?v=ab" rel="stylesheet" />
    <title>Sixlab|六楼的雨</title>
    <link href="/css/index.css?v=ab" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/index.js" type="text/javascript" ></script>
</head>
<body>
<header>
    <a href="/" style="color: hsla(0,0%,100%,.6); line-height: 4em;" class="text-pointer">六楼实验室</a>
    <nav class="header-nav">
        <a class="nav-item" href="https://blog.sixlab.cn">博客</a>
    </nav>
</header>
<main>
    <section id="hero" style="background-image: url(/img/road.jpg)"
             class="hero background-cover">
        <div class="container">
            <div class="title">千里之行，始于足下</div>
            <div class="holder" style="height: 96px;">
            </div>
            <div class="meetup-info-mobile">
                <div class="info-title">最近文章: <a class="post-info-link" href="https://blog.sixlab.cn/archives/594">【读书】癌症·真相：医生也在读</a></div>
                <span class="time"><span class="post-info-date">2017-05-31</span></span>
            </div>
            <div class="last-meetup">
                <div class="meetup-info"><span class="info-title">最近文章</span><span class="post-info-all"><a
                        href="https://blog.sixlab.cn/archives/594">【读书】癌症·真相：医生也在读</a> ｜ 2017-05-31</span>
                </div>
                <button onclick="location.href='https://blog.sixlab.cn/'" class="meetup-btn btn-blue">进入博客</button>
            </div>
        </div>
    </section>
</main>
<footer>
    <nav class="footer-nav">
        <span>
            <!--<a rel="nofollow" target="_blank" href="/login"></a>-->
            © 2015 六楼实验室
            <a rel="nofollow" target="_blank" href="https://www.miitbeian.gov.cn/">豫ICP备15033629号</a>
            | 由
            <a rel="nofollow" target="_blank" href="https://www.aliyun.com/">阿里云</a> 强力驱动
            <!--<a id="logout-url" target="_blank" href="/logout"></a>-->
        </span>
    </nav>
</footer>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?ed5f857e539c56779c12c9427b7cfd41";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script src="https://blog.sixlab.cn/api/get_recent_posts/?count=3&amp;callback=showPost" type="text/javascript"></script>
</body>
</html>