<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixlab.web.mapper.ToolsRecordItemMapper">
    <resultMap id="BaseResultMap" type="cn.sixlab.web.bean.ToolsRecordItem">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="item_order" property="itemOrder" jdbcType="INTEGER"/>
        <result column="is_del" property="isDel" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, item_name, item_order, is_del, remark
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tools_record_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tools_record_item
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.sixlab.web.bean.ToolsRecordItem">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tools_record_item (item_name, item_order, is_del,
        remark)
        values (#{itemName,jdbcType=VARCHAR}, #{itemOrder,jdbcType=INTEGER},
        #{isDel,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="cn.sixlab.web.bean.ToolsRecordItem">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tools_record_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemName != null">
                item_name,
            </if>
            <if test="itemOrder != null">
                item_order,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemName != null">
                #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="itemOrder != null">
                #{itemOrder,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.sixlab.web.bean.ToolsRecordItem">
        update tools_record_item
        <set>
            <if test="itemName != null">
                item_name = #{itemName,jdbcType=VARCHAR},
            </if>
            <if test="itemOrder != null">
                item_order = #{itemOrder,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.sixlab.web.bean.ToolsRecordItem">
        update tools_record_item
        set item_name = #{itemName,jdbcType=VARCHAR},
        item_order = #{itemOrder,jdbcType=INTEGER},
        is_del = #{isDel,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryEnableItems" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tools_record_item
        WHERE is_del IS NULL
        ORDER BY item_order,id
    </select>

    <select id="queryDelItems" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tools_record_item
        WHERE is_del = 1
        ORDER BY item_order,id
    </select>

    <select id="queryByTime" resultMap="BaseResultMap">
        SELECT t.id as id,v.record_val as item_name
        FROM tools_record_item t
          LEFT JOIN tools_record_val v
            ON v.record_date =  #{recordDate,jdbcType=TIMESTAMP}
               AND v.item_id = t.id
        ORDER BY t.item_order,t.id
    </select>
</mapper>