<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sixlab.web.mapper.ToolsHisEventMapper" >
  <resultMap id="BaseResultMap" type="cn.sixlab.web.bean.ToolsHisEvent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="event_type" property="eventType" jdbcType="VARCHAR" />
    <result column="key_id" property="keyId" jdbcType="INTEGER" />
    <result column="event_remark" property="eventRemark" jdbcType="VARCHAR" />
    <result column="event_date" property="eventDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, event, event_type, key_id, event_remark, event_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tools_his_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tools_his_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.sixlab.web.bean.ToolsHisEvent" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tools_his_event (event, event_type, key_id, 
      event_remark, event_date)
    values (#{event,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, #{keyId,jdbcType=INTEGER}, 
      #{eventRemark,jdbcType=VARCHAR}, #{eventDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.sixlab.web.bean.ToolsHisEvent" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tools_his_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="event != null" >
        event,
      </if>
      <if test="eventType != null" >
        event_type,
      </if>
      <if test="keyId != null" >
        key_id,
      </if>
      <if test="eventRemark != null" >
        event_remark,
      </if>
      <if test="eventDate != null" >
        event_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="event != null" >
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null" >
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="keyId != null" >
        #{keyId,jdbcType=INTEGER},
      </if>
      <if test="eventRemark != null" >
        #{eventRemark,jdbcType=VARCHAR},
      </if>
      <if test="eventDate != null" >
        #{eventDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.sixlab.web.bean.ToolsHisEvent" >
    update tools_his_event
    <set >
      <if test="event != null" >
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null" >
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="keyId != null" >
        key_id = #{keyId,jdbcType=INTEGER},
      </if>
      <if test="eventRemark != null" >
        event_remark = #{eventRemark,jdbcType=VARCHAR},
      </if>
      <if test="eventDate != null" >
        event_date = #{eventDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.sixlab.web.bean.ToolsHisEvent" >
    update tools_his_event
    set event = #{event,jdbcType=VARCHAR},
      event_type = #{eventType,jdbcType=VARCHAR},
      key_id = #{keyId,jdbcType=INTEGER},
      event_remark = #{eventRemark,jdbcType=VARCHAR},
      event_date = #{eventDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>